{% extends 'bases/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block title %}Register{% endblock %}


{% block content %}
<style>
    div a {
        text-decoration: none;
    }
    div a:hover {
        text-decoration: underline;
    }
</style>
<main class="auth-main" style="height: 100vh;">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100%;">
        <div class="card auth-card" style="display: flex;">
            <div class="card-title m-1">
                <span>Register</span>
            </div>
            <div class="card-body">
                <form id="register-form" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="col mb-3">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="col mb-3">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="col mb-3 d-flex justify-content-center align-items-center">
                        <input class="btn btn-primary" type="submit" value="Submit" style="width: 100%;">
                    </div>
                </form>
                <div class="col r-errors">
                    {% for message in messages %}
                        <span style="max-width: 100%;">{{ message }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--Confirm Email Card-->
        <div class="card auth-card confirm-email-card" style="display: none; padding: 1rem;">
            <div class="card-title m-1">
                <h2>Confirm Email</h2>
            </div>
            <div class="card-body">
                <form class="mb-2" action="{% url 'confirm_email' %}" method="post" id="confirm-form">
                    {% csrf_token %}
                    <input style="width: 100%;" class="mb-3" type="text" name="token" id="token" placeholder="Enter Token">
                    <br>
                    <input class="btn btn-primary" type="submit" value="Submit" style="width: 100%;">
                </form>
                <div class="col d-flex flex-column mb-2">
                    <a style="text-align: center;  color: black;" id="resend-email" href="{% url 'resend_email_confirmation' %}">Resend Confirmation</a>
                </div>
                <div class="col c-errors"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
