{% extends 'bases/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    .side-btn {
        font-size: 2.5rem;
    }
</style>

<div id="custom-alert" class="custom-alert">
    <span id="alertMessage"></span>
</div>

<header style="border-bottom: 1px solid black; display: flex; align-items: center;">
    <div id="email" class="btn">{{ email }}</div>
    <div class="conn-status" style="display: flex; align-items: center;">
        <span style="margin-right: 0.5rem;" class="dot connect-btn"></span>
        <span>Connected</span>
    </div>
</header>


<!--===============================-->
<!--Main Content-->
<!--===============================-->
<main style="display: flex; flex-direction: row;">

    <!------------------------------------------------------->
                                        <!--Sidebar-->
    <!------------------------------------------------------->
    <div class="p-0" style="width: 5rem; min-height: 100%; border-right:1px solid #575756;">
        <div class="container d-flex flex-row m-0 p-0" style="width: 100%; height: 100%;">
            <div class="sidebar-btn-container side-topic">
                <button class="btn side-btn" title="watchlist" onclick="showWatchlist()">
                    <i class="fa-regular fa-eye"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="watchlist-container container pt-10 side-topic" style="margin-left: 0; background-color: #e8e8e8; display: none; max-width: 6rem;">
        <a href="/watchlist/?q=btcusdt" class="watchlist-item">BTCUSDT</a>
    </div>
    <!------------------------------------------------------->
                                        <!--Main Content-->
    <!------------------------------------------------------->

    <!--Summaries-->
    <div class="container" style="flex-grow: 1;">
        <div class="container">
            <div id="balance" style="color: #232A31; font-size: 2rem; font-weight: 900;">${{ balance }}</div>
            <div class="row">
                <div class="col-12 col-md-3 mx-2">
                    <div class="card stat-card">
                        <div class="card-title mb-0"><span>Day Change</span></div>
                        <div class="card-body m-0 p-0 dc"><span>{{ day_change }}</span></div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card stat-card">
                        <div class="card-title mb-0"><span>Unrealized gain</span></div>
                        <div class="card-body m-0 p-0 ug"><span>{{ unrealised_gain }}</span></div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card stat-card">
                        <div class="card-title mb-0"><span>Realised gain</span></div>
                        <div class="card-body m-0 p-0 rg"><span>{{ realised_gain }}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!--===============================-->
        <!--Portfolio Growth-->
        <!--===============================-->
        <div class="container">
            <div class="row">
                <div class="growth-interval-container">
                    <button class="btn growth-interval-button week">1W</button>
                    <button class="btn growth-interval-button month">1M</button>
                    <button class="btn growth-interval-button year">1Y</button>
                </div>
                <div class="col-12 col-md-8">
                    <div id="portfolio-chart" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="container stat-container" style="height: 400px;">
                        <!--===============================-->
                        <!--Create Order Card-->
                        <!--===============================-->
                        <div id="order-container">
                            <div class="order-card">
                                <div class="card-title">
                                    <h2>New Order</h2>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'create_order' %}" method="post" id="order-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="id_ticker">Symbol</label>
                                            <input type="text" name="ticker" id="id_ticker" required>
                                            <div id="suggestions" class="suggestions" style="display: none;"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_dollar_amount">Dollar Amount</label>
                                            <input type="number" name="dollar_amount" id="id_dollar_amount" required>
                                        </div>
                                        <input type="submit" value="Submit Order">
                                        <span class="order-msg"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--===============================-->
            <!--Table Container -->
            <!--===============================-->
            <div class="modal-section d-flex flex-row">
                <button class="btn active-modal open">Open Positions</button>
                <button class="btn all">All Positions</button>
                <button class="btn summaries">Summaries</button>
            </div>
            <div class="container table-container row w-100 border border-dark-subtle mb-5 rounded">
                <table id="open_positions_table" class="mytable">
                    <thead class="border-bottom border-dark-subtle">
                    <tr>
                        <td>Ticker</td>
                        <td>Open Price</td>
                        <td>Unrealised P\L</td>
                        <td><i class="fa-solid fa-bars"></i></td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Placeholder open positions -->
                    {% for p in open_positions %}
                        <tr>
                            <td>{{ p.ticker }}
                                <span hidden>{{ p.order_id }}</span>
                            </td>
                            <td>{{ p.open_price }}</td>
                            <td class="upl">{{ p.unrealised_pnl }}</td>
                            <td><i class="fa-solid fa-xmark close-open-order"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--All Positions Table-->
                <table id="all_positions_table" class="inactive-table mytable">
                    <thead class="border-bottom border-dark-subtle">
                    <tr>
                        <td>Ticker</td>
                        <td>Realised P\L</td>
                        <td>Open Time</td>
                        <td>Investment</td>
                        <td>Open Price</td>
                        <td>Close Price</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in closed_positions %}
                        <tr>
                            <td>{{order.ticker}}</td>
                            <td class="rpl">{{ order.realised_pnl }}</td>
                            <td>{{ order.dollar_amount}}</td>
                            <td>{{ order.created_at }}</td>
                            <td>{{ order.open_price }}</td>
                            <td>{{ order.close_price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="inactive-table p-3" id="summary_table">
                    <div class="row d-flex flex-row">
                        <div class="col-12 col-md-3">
                            <div class="card summary-card">
                                <div class="card-title" id="asset-alloc"><span>Asset Allocation</span></div>
                                <div class="card-body">
                                    <div class="progress-stacked mb-3 rounded-1" style="height: 10px;"></div>
                                    <div class="row d-flex flex-col asset-list"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="card summary-card">
                                <div class="card-title"><span>Statistics</span></div>
                                <div class="card-body row d-flex flex-col">
                                    <div class="container summary-item">
                                        <span class="mb-2">Sharpe Ratio</span>
                                        <span>{{ sharpe }}</span>
                                    </div>
                                    <div class="container summary-item">
                                        <span class="mb-2">Sortino</span>
                                        <span>{{ sortino }}</span>
                                    </div>
                                    <div class="container summary-item">
                                        <span class="mb-2">Average Daily Return</span>
                                        <span>{{ average_daily_return }}</span>
                                    </div>
                                    <div class="container summary-item">
                                        <span class="mb-2">Win Rate</span>
                                        <span>{{ win_rate }}</span>
                                    </div>
                                    <div class="container summary-item">
                                        <span class="mb-2">Total Volume</span>
                                        <span>{{ volume }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="card summary-card">
                                <div class="card-title"><span>Daily Profit Sum</span></div>
                                <div class="card-body row d-flex flex-col">
                                    <div class="card-body row d-flex flex-col">
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Sunday</span>
                                            {{ daily_wins.Sunday }}
                                        </div>
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Monday</span>
                                            {{ daily_wins.Monday }}
                                        </div>
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Tuesday</span>
                                            {{ daily_wins.Tuesday }}
                                        </div>
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Wednesday</span>
                                            {{ daily_wins.Wednesday }}
                                        </div>
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Thursday</span>
                                            {{ daily_wins.Thursday }}
                                        </div>
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Friday</span>
                                            {{ daily_wins.Friday }}
                                        </div>
                                        <div class="contianer summary-item">
                                            <span class="mb-2">Saturday</span>
                                            {{ daily_wins.Saturday }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="card summary-card">
                                <div class="card-title"><span>Cash to Equity</span></div>
                                <div class="card-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script>
    let assetAllocJson = JSON.parse('{{ asset_allocation|safe }}');
    const assetAllocDiv = document.querySelector('.progress-stacked');
    const assetList = document.querySelector('.asset-list');

    // ----------------------------------------------------
    // Visibility Functions
    // ----------------------------------------------------
    function showWatchlist() {
        const watchlist = document.querySelector('.watchlist-container');
        console.log(watchlist);
        if (watchlist.style.display === 'flex') { watchlist.style.display = 'none'; }
        else { watchlist.style.display = 'flex'; }
    }

    // ----------------------------------------------------
    // Loading up the Asset Allocation bar
    // ----------------------------------------------------
    for (let [ticker, data] of Object.entries(assetAllocJson)) {
        const div = document.createElement('div');
        div.classList.add('progress');
        div.style.width = `${data.percentage}%`;
        div.role = 'progressbar';
        div.ariaValueNow = `${data.percentage}`;
        div.ariaValueMin = '0';
        div.ariaValueMax = '100';

        const secondDiv = document.createElement('div');
        secondDiv.classList.add('progress-bar', 'bg-progress-gradient', 'border-end', 'border-100', 'border-2');

        div.appendChild(secondDiv);
        assetAllocDiv.appendChild(div);

        // Adding the asset to a list
        const col = document.createElement('div');
        col.classList.add('col');

        const span = document.createElement('span');
        span.classList.add('dot');
        col.appendChild(span);

        const tickerSpan = document.createElement('span');
        tickerSpan.textContent = ticker;
        col.appendChild(tickerSpan);
        assetList.appendChild(col);
    }

    // ------------------------------------------------------
    // Unrealised Gain Updater
    // ------------------------------------------------------
    const openPositions = JSON.parse('{{ open_js|safe }}');
    const balanceGrowth = JSON.parse('{{ balance_growth|safe }}');
</script>
{% endblock %}
