{% extends 'bases/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    .active-modal {
        border-radius: 0.5rem 0.5rem 0 0;
        border: 1px solid grey;
        border-bottom: 1px solid white;
    }

    .active-table {
        display: block;
    }
    .inactive-table {
        display: none;
    }
</style>

<div id="custom-alert" class="custom-alert">
    <span id="alertMessage">asda</span>
</div>


<header style="border-bottom: 1px solid black;">
    <div id="email" class="btn">{{ email }}</div>
</header>

<!--Main Content-->
<main>
    <!--Summaries-->
    <div class="container">
        <div id="balance" style="font-size: 2rem; font-size: 900;">{{ balance }}</div>
        <div class="row">
            <div class="col-12 col-md-3 mx-2">
                <div class="card stat-card">
                    <div class="card-title mb-0"><span>Day Change</span></div>
                    <div class="card-body m-0 p-0"><span>{{ day_change }}</span></div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card stat-card">
                    <div class="card-title mb-0"><span>Unrealized gain</span></div>
                    <div class="card-body m-0 p-0"><span>{{ unrealised_gain }}</span></div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card stat-card">
                    <div class="card-title mb-0"><span>Realzied gain</span></div>
                    <div class="card-body m-0 p-0"><span>{{ realised_gain }}</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="btn btn-primary" id="create-order-btn">Create Order</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div id="portfolio-chart" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="col-12 col-md-4">
                <div class="container stat-container" style="height: 400px;">
                    <div class="card">
                        stats
                    </div>
                </div>
            </div>
        </div>

        <!--Table Container -->
        <div class="modal-section d-flex flex-row">
            <button class="btn active-modal open">Open Positions</button>
            <button class="btn all">All Positions</button>
            <button class="btn summaries">Summaries</button>
        </div>
        <div class="container table-container row w-100 rounded border border-dark-subtle">
            <div class="table-container">
                <table id="open_positions_table" class="active-table">
                    <thead class="border-bottom border-dark-subtle">
                    <tr>
                        <td>Ticker</td>
                        <td>Open Price</td>
                        <td>Unrealised P\L</td>
                        <td><i class="fa-solid fa-bars"></i></td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Placeholder open positions -->
                    {% for p in open_positions %}
                        <tr>
                            <td>{{ p.ticker }}
                                <span hidden>{{ p.order_id }}</span>
                            </td>
                            <td>{{ p.open_price }}</td>
                            <td id="upl">{{ p.unrealised_pnl }}</td>
                            <td><i class="fa-solid fa-xmark close-open-order"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- Historical Trades Table -->
                <table id="all_positions_table" class="inactive-table">
                    <thead class="border-bottom border-dark-subtle">
                    <tr>
                        <td>Ticker</td>
                        <td>Realised P\L</td>
                        <td>Open Time</td>
                        <td>Investment</td>
                        <td>Open Price</td>
                        <td>Close Price</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in closed_positions %}
                    <tr>
                        <td>{{order.ticker}}</td>
                        <td>{{ order.realised_pnl }}</td>
                        <td>{{ order.dollar_amount}}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.open_price }}</td>
                        <td>{{ order.close_price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="inactive-table" id="summary_table">
                    <div class="col-12 col-md-3">
                        <div class="card summary-card">
                            <div class="card-title"></div>
                            <div class="card-body"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card summary-card">
                            <div class="card-title"></div>
                            <div class="card-body"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card summary-card">
                            <div class="card-title"></div>
                            <div class="card-body"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card summary-card">
                            <div class="card-title"></div>
                            <div class="card-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="order-container">
    <div class="card order-card">
        <div class="card-title">
            <h2>New order</h2>
            <i class="fa-solid fa-xmark hover" id="close-order"></i>
        </div>
        <div class="card-body">
            <form action="{% url 'create_order' %}" method="post" id="order-form">
                {% csrf_token %}
                <div class="row">
                    <input type="text" name="ticker" id="id_ticker" required>
                    <div id="suggestions" class="suggestions" style="display: none;"></div>
                </div>
                <input type="number" name="dollar_amount" id="id_dollar_amount" required>
                <input type="submit" value="Submit">
                <span class="order-msg"></span>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
